doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav
			ul
				li#nav-item: a(href="/") Home
				li#nav-item: a(href="/login") Login
	block content
